ASP Lab systemintegration - kopia/Sektion1/Sektion1/Connected Services/ServiceReference1/PersonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonerData" nillable="true" type="tns:PersonerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonerData" nillable="true" type="tns:ArrayOfPersonerData" />
  <xs:complexType name="PersonerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Efternamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fornamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonerData" nillable="true" type="tns:PersonerData" />
</xs:schema>